<div class="box has-background-light">
  <div class="block">
    <p>
      <%= post.content %>
    </p>
  </div>
  <% if user_signed_in? %>
    <p class="has-text-right"><strong><%= post.user.email %></strong></p>
  <% end %>
</div>
