<div class="box has-background-light">
  <div class="block">
    <p class="post-content">
      <%= post.content %>
    </p>
  </div>
  <% if user_signed_in? %>
    <p class="post-author has-text-right"><strong><%= post.user.name %></strong></p>
  <% end %>
</div>
