<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2">New Post</h2>

        <%= simple_form_for @post do |f| %>
          <%= f.error_notification %>
            <div class="field">
            <%= f.input :content,
                        label: false,
                        required: true, 
                        autofocus: true, 
                        input_html: { class: "input content-tall" }, 
                        wrapper: false %>
          </div>

          <div class="field">
            <%= f.button :submit, "Add Post", class:"button is-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

